<!doctype html>
<html lang="en" xmlns="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>RedBlue</title>
        <!-- Favicon -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/backend-plugin.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/backende209.css'%}">
        <link rel="stylesheet" href="{% static 'css/Vendors/@fortawesome/fontawesome-free/css/all.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/Vendors/line-awesome/dist/line-awesome/css/line-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/Vendors/remixicon/fonts/remixicon.css'%}">
    </head>
    <body class="">
        <!-- loader Start -->
        <div id="loading">
            <div id="loading-center"></div>
        </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
            <div class="mm-top-navbar" style="padding-top: 10px">
                <div class="mm-navbar-custom">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <div class="mm-navbar-logo d-flex align-items-center justify-content-between">
                                <i class="ri-menu-line wrapper-menu"></i>
                                <a href="{% url 'index'%}" class="header-logo">
                                    <img src="{% static 'images/logo.png'%}" class="img-fluid rounded-normal" alt="logo">
                                </a>
                            </div>
                            <div class="mm-menu-horizontal">
                                <nav class="mm-sidebar-menu">
                                    <div class="mm-sidebar-logo d-flex align-items-center justify-content-between">
                                        <a href="{% url 'index'%}" class="header-logo">
                                            <img src="{% static 'images/logo.png'%}" class="img-fluid rounded-normal" alt="logo">
                                        </a>
                                        <div class="mm-menu-bt-sidebar">
                                            <i class="wrapper-menu"><img src="{% static 'images/toggler.png'%}"></i>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            <div class="d-flex align-items-center">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                                    <i class="ri-menu-3-line"></i>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto navbar-list align-items-center">
                                        <div>
                                            <a href="{% url 'SignUp'%} " class="btn-outline">Sign Up</a>
                                            <a href="{% url 'SignIn'%}" class="btn btn-outline-primary" style="margin-left: 8px;padding-top: 7px;padding-bottom: 7px;">Sign In</a>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
             <div class="content-page">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-header d-flex justify-content-between border-none">
                                    <div class="header-title">
                                        <h4 class="card-title">Nifty50</h4>
                                    </div>
                                </div>
                                <div class="card-body rec-pat p-0">
                                    <div class="table-responsive table-scrollbar table-wrapper-scroll-y">
                                        <table class="table table-striped mb-0 table-borderless">
                                            <thead class="">
                                                <tr>
                                                    <th class="table-th-color">Name</th>
                                                    <th class="table-th-color">Price</th>
                                                    <th class="table-th-color">d_Price</th>
                                                    <th class="table-th-color">EMA26</th>
                                                    <th class="table-th-color">EMA13</th>
                                                    <th class="table-th-color">EMA05</th>
                                                    <th class="table-th-color">d_Vol</th>
                                                    <th class="table-th-color">MACD_height</th>
                                                    <th class="table-th-color">EMA_height</th>
                                                    <th class="table-th-color">EMA_score</th>
                                                    <th class="table-th-color">MACD_score</th>
                                                    <th class="table-th-color">Vol_score</th>
                                                    <th class="table-th-color">RSI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in nifty %}
                                                    <tr>
                                                        <td style="font-weight: 600">{{ i.name }}</td>
                                                        <td>{{ i.price }}</td>
                                                        <td class="plusmin">{{ i.d_price }}</td>
                                                        <td>{{ i.ema26 }}</td>
                                                        <td>{{ i.ema13 }}</td>
                                                        <td>{{ i.ema05 }}</td>
                                                        <td>{{ i.d_vol }}</td>
                                                        <td>{{ i.macd_height }}</td>
                                                        <td class="plusmin">{{ i.ema_height }}</td>
                                                        <td class="plusmin">{{ i.ema_score }}</td>
                                                        <td class="plusmin">{{ i.macd_score }}</td>
                                                        <td class="plusmin">{{ i.vol_score }}</td>
                                                        <td>{{ i.rsi }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- Wrapper End-->
        <footer class="mm-footer">
            <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                                <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 text-right">
                            <span class="mr-1"><script>document.write(new Date().getFullYear())</script> ©</span> <a href="#" class="">RedBlue</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        <!-- Backend Bundle JavaScript -->
        {% load static %}
        <script src="{% static 'js/backend-bundle.min.js'%}"></script>
        <!-- Table Treeview JavaScript -->
        <script src="{% static 'js/table-treeview.js'%}"></script>
        <!-- Chart Custom JavaScript -->
        <script src="{% static 'js/customizer.js'%} "></script>
        <!-- Chart Custom JavaScript -->
        <script async src="{% static 'js/chart-custom.js'%}"></script>
        <!-- app JavaScript -->
        <script src="{% static 'js/app.js'%}"></script>
        <!-- Chart Custom JavaScript -->
        <script src="{% static 'js/charts/01.js'%}"></script>
    </body>
</html>