<!doctype html>
<html lang="en" xmlns="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>RedBlue</title>
        <!-- Favicon -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/backend-plugin.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/backende209.css'%}">
        <link rel="stylesheet" href="{% static 'css/Vendors/@fortawesome/fontawesome-free/css/all.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/Vendors/line-awesome/dist/line-awesome/css/line-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/Vendors/remixicon/fonts/remixicon.css'%}">
    </head>
    <body class="">
        <!-- loader Start -->
        <div id="loading">
            <div id="loading-center"></div>
        </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
            <div class="mm-top-navbar" style="padding-top: 10px">
                <div class="mm-navbar-custom">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <div class="mm-navbar-logo d-flex align-items-center justify-content-between">
                                <i class="ri-menu-line wrapper-menu"></i>
                                <a href="{% url 'index'%}" class="header-logo">
                                    <img src="{% static 'images/logo.png'%}" class="img-fluid rounded-normal" alt="logo">
                                </a>
                            </div>
                            <div class="mm-menu-horizontal">
                                <nav class="mm-sidebar-menu">
                                    <div class="mm-sidebar-logo d-flex align-items-center justify-content-between">
                                        <a href="{% url 'index'%}" class="header-logo">
                                            <img src="{% static 'images/logo.png'%}" class="img-fluid rounded-normal" alt="logo">
                                        </a>
                                        <div class="mm-menu-bt-sidebar">
                                            <i class="wrapper-menu"><img src="{% static 'images/toggler.png'%}"></i>
                                        </div>
                                    </div>
                                    <ul id="mm-sidebar-toggle" class="mm-menu d-flex">
                                        <li class="active">
                                            <a href="{% url 'index'%}" class=""><span >Swing TA</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="d-flex align-items-center">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                                    <i class="ri-menu-3-line"></i>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto navbar-list align-items-center">
                                        <div>
                                            <a href="{% url 'SignUp'%} " class="btn-outline">Sign Up</a>
                                            <a href="{% url 'SignIn'%}" class="btn btn-outline-primary" style="margin-left: 8px;padding-top: 7px;padding-bottom: 7px;">Sign In</a>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
             <div class="content-page">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-header d-flex justify-content-between border-none">
                                    <div class="header-title">
                                        <h4 class="card-title">Nifty50</h4>
                                    </div>
                                </div>
                                <div class="card-body rec-pat p-0">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0 table-borderless">

                                            <thead class="">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Date</th>
                                                    <th>Price</th>
                                                    <th>d_Price</th>
                                                    <th>EMA26</th>
                                                    <th>EMA13</th>
                                                    <th>EMA05</th>
                                                    <th>d_Vol</th>
                                                    <th>MACD_height</th>
                                                    <th>EMA_height</th>
                                                    <th>EMA_score</th>
                                                    <th>MACD_score</th>
                                                    <th>Vol_score</th>
                                                    <th>RSI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in nifty %}
                                                    <tr>
                                                        <td>{{ i.name }}</td>
                                                        <td>{{ i.date }}</td>
                                                        <td>{{ i.price }}</td>
                                                        <td>{{ i.d_price }}</td>
                                                        <td>{{ i.ema26 }}</td>
                                                        <td>{{ i.ema13 }}</td>
                                                        <td>{{ i.ema05 }}</td>
                                                        <td>{{ i.d_vol }}</td>
                                                        <td>{{ i.macd_height }}</td>
                                                        <td>{{ i.ema_height }}</td>
                                                        <td>{{ i.ema_score }}</td>
                                                        <td>{{ i.macd_score }}</td>
                                                        <td>{{ i.vol_score }}</td>
                                                        <td>{{ i.rsi }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- Wrapper End-->

        <!-- Backend Bundle JavaScript -->
        {% load static %}
        <script src="{% static 'js/backend-bundle.min.js'%}"></script>
        <!-- Table Treeview JavaScript -->
        <script src="{% static 'js/table-treeview.js'%}"></script>
        <!-- Chart Custom JavaScript -->
        <script src="{% static 'js/customizer.js'%} "></script>
        <!-- Chart Custom JavaScript -->
        <script async src="{% static 'js/chart-custom.js'%}"></script>
        <!-- app JavaScript -->
        <script src="{% static 'js/app.js'%}"></script>
        <!-- Chart Custom JavaScript -->
        <script src="{% static 'js/charts/01.js'%}"></script>
    </body>
</html>