<!doctype html>
<html lang="en" xmlns="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>RedBlue</title>
        <!-- Favicon -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/backend-plugin.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/backende209.css'%}">
        <link rel="stylesheet" href="{% static 'css/Vendors/@fortawesome/fontawesome-free/css/all.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/Vendors/line-awesome/dist/line-awesome/css/line-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/Vendors/remixicon/fonts/remixicon.css'%}">
        <link rel="stylesheet" href="{% static 'css/Vendors/use.fontawesome.com/releases/v5.0.6/css/all.css'%}">
    </head>
    <body class="">
        <!-- loader Start -->
        <div id="loading">
            <div id="loading-center"></div>
        </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
            <div class="mm-top-navbar" style="padding-top: 10px">
                <div class="mm-navbar-custom">
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <div class="mm-navbar-logo d-flex align-items-center justify-content-between">
                                <i class="ri-menu-line wrapper-menu"></i>
                                <a href="{% url 'index'%}" class="header-logo">
                                    <img src="{% static 'images/logo.png'%}" class="img-fluid rounded-normal" alt="logo">
                                </a>
                            </div>
                            <div class="mm-menu-horizontal">
                                <nav class="mm-sidebar-menu">
                                    <div class="mm-sidebar-logo d-flex align-items-center justify-content-between">
                                        <a href="{% url 'index'%}" class="header-logo">
                                            <img src="{% static 'images/logo.png'%}" class="img-fluid rounded-normal" alt="logo">
                                        </a>
                                        <div class="mm-menu-bt-sidebar">
                                            <i class="wrapper-menu"><img src="{% static 'images/toggler.png'%}"></i>
                                        </div>
                                        <ul id="mm-sidebar-toggle" class="mm-menu d-flex">
                                            <li class="">
                                                <a href="#" class="">
                                                    <span >User Dashboard</span>
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="dashboard-1.html" class="">
                                                    <span>Analytics Dashboad</span>
                                                </a>
                                            </li>
                                            <li class=" ">
                                                <a href="#pages" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                                    <span>Other Pages</span>
                                                    <i class="ri-arrow-right-s-line mm-arrow-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="d-flex align-items-center">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation"><i class="ri-menu-3-line"></i></button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto navbar-list align-items-center">
                                        <li class="nav-item nav-icon search-content">
                                            <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ri-search-line"></i></a>
                                            <div class="mm-search-bar mm-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                                                <form action="#" class="searchbox p-2">
                                                    <div class="form-group mb-0 position-relative">
                                                        <input type="text" class="text search-input font-size-12" placeholder="type here to search...">
                                                            <a href="#" class="search-link"><i class="las la-search"></i></a>
                                                    </div>
                                                </form>
                                            </div>
                                        </li>
                                        <li class="nav-item nav-icon dropdown">
                                            <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                                                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                                </svg>
                                                <span class="bg-dark dots"></span>
                                            </a>
                                            <div class="mm-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <div class="card shadow-none m-0">
                                                    <div class="card-body p-0 ">
                                                        <div class="cust-title p-3">
                                                            <div class="d-flex align-items-center justify-content-between">
                                                                <h5 class="mb-0">Notifications</h5>
                                                                <a class="badge badge-primary badge-card" href="#">0</a>
                                                            </div>
                                                        </div>
                                                        <div class="px-3 pt-0 pb-0 sub-card">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item nav-icon dropdown caption-content">
                                            <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="{% static 'images/user/01.png'%}" class="img-fluid rounded" alt="user">
                                            </a>
                                            <div class="mm-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <div class="card shadow-none m-0">
                                                    <div class="card-body p-0 text-center">
                                                        <div class="media-body profile-detail text-center">
                                                            <img src="{% static 'images/user/01.png'%}" alt="profile-bg" class="rounded-top img-fluid mb-4">
                                                        </div>
                                                        <div class="p-3">
                                                            <h5 class="mb-1">redblue.advisor@gmail.com</h5>
                                                            <p class="mb-0">Since 10 march, 2021</p>
                                                            <div class="d-flex align-items-center justify-content-center mt-3">
                                                                <a href="#" class="btn border mr-2">Profile</a>
                                                                <a href="{% url 'SignIn'%}" class="btn border">Sign Out</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="content-page">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-block card-stretch card-height">
                                <div class="card-header d-flex justify-content-between border-none">
                                    <div class="header-title">
                                        <h4 class="card-title">Nifty50</h4>
                                    </div>
                                </div>
                                <div class="card-body rec-pat p-0">
                                    <div class="table-responsive table-scrollbar table-wrapper-scroll-y">
                                        <table class="table table-striped mb-0 table-borderless">
                                            <thead class="">
                                                <tr>
                                                    <th class="table-th-color">Name</th>
                                                    <th class="table-th-color">Price</th>
                                                    <th class="table-th-color">d_Price</th>
                                                    <th class="table-th-color">EMA26</th>
                                                    <th class="table-th-color">EMA13</th>
                                                    <th class="table-th-color">EMA05</th>
                                                    <th class="table-th-color">d_Vol</th>
                                                    <th class="table-th-color">MACD_height</th>
                                                    <th class="table-th-color">EMA_height</th>
                                                    <th class="table-th-color">EMA_score</th>
                                                    <th class="table-th-color">MACD_score</th>
                                                    <th class="table-th-color">Vol_score</th>
                                                    <th class="table-th-color">RSI</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in nifty %}
                                                    <tr>
                                                        <td style="font-weight: 600">{{ i.name }}</td>
                                                        <td>{{ i.price }}</td>
                                                        <td class="plusmin">{{ i.d_price }}</td>
                                                        <td>{{ i.ema26 }}</td>
                                                        <td>{{ i.ema13 }}</td>
                                                        <td>{{ i.ema05 }}</td>
                                                        <td>{{ i.d_vol }}</td>
                                                        <td>{{ i.macd_height }}</td>
                                                        <td class="plusmin">{{ i.ema_height }}</td>
                                                        <td class="plusmin">{{ i.ema_score }}</td>
                                                        <td class="plusmin">{{ i.macd_score }}</td>
                                                        <td class="plusmin">{{ i.vol_score }}</td>
                                                        <td>{{ i.rsi }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <!-- Wrapper End-->
        <footer class="mm-footer">
            <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="footer-top">
		        <div class="container">
		        	<div class="row">
		        		<div class="col-md-3 footer-about wow fadeInUp">
		        			<h3>About us</h3>
		        			<p>
		        				All about company
		        			</p>
		        			<p>&copy; RedBlue</p>
	                    </div>
		        		<div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
		        			<h3>Contact</h3>
		                	<p><i class="fas fa-map-marker-alt"></i>  Address</p>
		                	<p><i class="fas fa-phone"></i> Phone:</p>
		                	<p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">redblue.advisor@gmail.com</a></p>
		                	<p><i class="fab fa-skype"></i> Skype:</p>
	                    </div>
	                    <div class="col-md-4 footer-links wow fadeInUp">
	                    	<div class="row">
	                    		<div class="col">
	                    			<h3>Links</h3>
	                    		</div>
	                    	</div>
	                    	<div class="row">
	                    		<div class="col-md-6">
	                    			<p><a class="scroll-link" href="#">Home</a></p>
	                    			<p><a href="#">Features</a></p>
	                    			<p><a href="#">About</a></p>
	                    		</div>
	                    		<div class="col-md-6">
	                    			<p><a href="#">Plans &amp; pricing</a></p>
	                    			<p><a href="#">Blogs</a></p>
	                    			<p><a href="#">Terms</a></p>
	                    		</div>
	                    	</div>
	                    </div>
		            </div>
		        </div>
	        </div>
	        <div class="footer-bottom">
	        	<div class="container">
	        		<div class="row">
	           			<div class="col footer-social">
	                    	<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-google-plus-g"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
	                    </div>
	           		</div>
	        	</div>
	        </div>
                </div>
            </div>
        </div>
    </footer>
        <!-- Backend Bundle JavaScript -->
        {% load static %}
        <script src="{% static 'js/backend-bundle.min.js'%}"></script>
        <!-- Table Treeview JavaScript -->
        <script src="{% static 'js/table-treeview.js'%}"></script>
        <!-- Chart Custom JavaScript -->
        <script src="{% static 'js/customizer.js'%} "></script>
        <!-- Chart Custom JavaScript -->
        <script async src="{% static 'js/chart-custom.js'%}"></script>
        <!-- app JavaScript -->
        <script src="{% static 'js/app.js'%}"></script>
        <!-- Chart Custom JavaScript -->
        <script src="{% static 'js/charts/01.js'%}"></script>
    </body>
</html>